# Editors
.vscode
!.vscode/tasks.js
.idea/

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build
build/
target/

# Tests
coverage

# Cache stores
.npm
.eslintcache

# Misc
.DS_Store
